$defaultgreen : #8DD078;
$lightgreen : #f1faee;
$greygreen : #A7C8A1;
$darkgreen : #208253;
$lightbeige : #faf2bc ;
$greybeige : #f8f2e2;
$darkbeige : #cccabf ;

$defaultfont: 'Hind';
$titlefont: 'cinzel';
