body{
    font-family: 'Noto sans';
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button{
        font-size: 2rem;
        border-radius: 16px;
        padding: 10px 20px;
        width: 12rem;
    }
}

h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

button{
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    text-align: center;
    margin: 1rem;
}

.guitar-container{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;

    background-color: #f8f8f8f8;
    padding: 3rem 5vw 0 5vw;
    margin-left: -1vw;

    .guitar{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        background-color: #ffffff;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 26px;

        h2{
            font-size: 2rem;
        }

        

        &__image{
            width: 50%;
            height: fit-content;
            margin-top: 1rem;
        }

        &__details{
            display: flex;
            flex-wrap: wrap;
            background-color: #f8f8f8f8;
            justify-content: space-between;
            width: 50%;

            border: 1px solid rgba(27, 31, 35, .15);
            border-radius: 26px;

            &--flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                margin-top: 1rem;

                h3{
                    font-size: 1.5rem;
                    margin: 0;
                }
                
            }
        }
    }
}

.details-container{
    width: 80vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ffffff;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 26px;
    margin: 0 10vw 0 10vw;

    .main{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 40vw;
        height: auto;

        .image{
            width: 25vw;
            height: 25vw;
            margin: 3rem;
        }
    }

    h2{
        font-size: 2rem;
        width: fit-content;
    }

    button{
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 16px;
        text-align: center;
        margin: 1rem;
    }


    .button-flex{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 3rem;
    }

    .details{
        display: flex;
        flex-wrap: wrap;
        background-color: #f8f8f8f8;
        justify-content: space-between;
        width: 100%;
        height: 45vh;

        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 26px;

        &--flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin-top: 3rem;

            h3{
                font-size: 1.5rem;
                margin: 0;
            }
            
        }
    }
}

.modify{
    width: 80vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ffffff;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 26px;
    margin: 0 10vw 0 10vw;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    input{
        background-color: #f8f8f8f8;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        color: #252525;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 16px;
        text-align: center;
        margin: 1rem;
    }

    button{
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 16px;
        text-align: center;
        margin: 1rem;
    }

    label{
        font-family: 'Noto sans';
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            height: fit-content;
            width: 100%;
            background-color: #f8f8f8f8;
            border: 1px solid rgba(27, 31, 35, .15);
            border-radius: 6px;
            color: #252525;
            font-size: 14px;
            font-weight: 600;
            padding: 6px 16px;
            text-align: center;
            margin: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: 32px;
                width: 32px;
                margin: 4.5%;
            }
        }
    }
}