body {
  font-family: "Hind";
  margin: 0;
  background-color: #f8f2e2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f2e2;
  width: 100%;
}
header h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: "cinzel";
  font-weight: 350;
}
header button {
  font-size: 2rem;
  border-radius: 16px;
  padding: 10px 20px;
  width: 12rem;
}

button {
  background-color: #A7C8A1;
  border: 0;
  border-radius: 6px;
  color: #f1faee;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 1rem;
}

.guitar-container {
  width: 93vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
  background-color: #f8f2e2;
  padding: 3rem 5vw;
  margin-left: -1vw;
}
.guitar-container .guitar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 26px;
}
.guitar-container .guitar h2 {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}
.guitar-container .guitar__image {
  width: 50%;
  height: fit-content;
  margin-top: 1rem;
}
.guitar-container .guitar__details {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(248, 248, 248, 0.9725490196);
  justify-content: space-between;
  width: 50%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
}
.guitar-container .guitar__details--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}
.guitar-container .guitar__details--flex h3 {
  font-size: 1.5rem;
  margin: 0;
}

.details-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 26px;
  margin: 0 10vw 0 10vw;
}
.details-container .main {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 40vw;
  height: auto;
}
.details-container .main .image {
  width: 25vw;
  height: 25vw;
  margin: 3rem;
}
.details-container h2 {
  font-size: 2rem;
  width: fit-content;
}
.details-container button {
  background-color: #A7C8A1;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 1rem;
}
.details-container .button-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}
.details-container .details {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(248, 248, 248, 0.9725490196);
  justify-content: space-between;
  width: 100%;
  height: 45vh;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
}
.details-container .details--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 3rem;
}
.details-container .details--flex h3 {
  font-size: 1.5rem;
  margin: 0;
}

.modify {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  gap: 0;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
  margin: 1rem 10vw;
  padding: 2rem 0;
}
.modify__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modify input {
  background-color: rgba(248, 248, 248, 0.9725490196);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 0 1rem;
}
.modify button {
  background-color: #A7C8A1;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 1rem;
}
.modify label {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modify label h3 {
  margin: 0;
}
.modify label div {
  height: fit-content;
  width: 100%;
  background-color: rgba(248, 248, 248, 0.9725490196);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modify label div img {
  height: 32px;
  width: 32px;
  margin: 4.5%;
}

.login {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  gap: 0;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
  margin: 1rem 10vw;
  padding: 3rem 0;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login input {
  background-color: rgba(248, 248, 248, 0.9725490196);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 0 1rem;
}
.login button {
  background-color: #A7C8A1;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 1rem;
}
.login label {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}